@font-face {
    font-family: "NotoSansR";
    src: url("../font/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "NotoSansR";
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, .82);
}

h1 {
    text-align: left;
    margin-top: 30px;
    display: inline-block;
    width: 95px;
    height: 18px;
}

#head_inner nav {
    width: 100%;
    text-align: center;
    height: 70px;    
    z-index: 99;
    background: rgba(255, 255, 255, .82);
    box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
    position: fixed;
}

.gnb_inner {
    text-align: center;
    display: inline-block;
    margin-right: 110px;
}

.gnb_inner ul {
    display: inline-block;
    width: 900px;
}

.gnb_inner ul li {
    float: left;
    margin-left: 60px;
}

.gnb_inner ul li a {
    color: #112233;
    font-family: 600;
    font-size: 15px;
    border-radius: 3px;
}

.login_btn {
    display: inline-block;
    float: right;
    margin-bottom: 90px;
    padding-top: 16px;
    margin-right: 100px;
}

.login_btn ul {
    display: inline;
    width: 300px;
}

.login_btn ul li {
    float: right;
    height: 50px;
    margin-right: 30px;
}

.login_btn ul li a {
    color: #174c88;
    font-size: 14px;
    line-height: 45px;
}

.gnb_inner ul li:hover {
    color: rgb(102, 102, 245);
    font-weight: bold;
}

.login_btn ul li:hover {
    font-weight: bold;
}

/*-- 헤더 영역 끝 --*/


/*-- content 시작 -- */

.content{
  width:  100%;
  height: auto;
}

/*-- content tit 시작 --*/
.content_tit {
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
   
    
}


.content_tit strong{
    font-size: 29px;
    font-weight: bold;
    margin-left: 10px;
    color:black;
  
}

.content_tit p{
    margin-top: 13px;
    font-size: 17px;
    margin-left: 10px;
    
} 
/*-- content tit 끝-- */



/*-- content slider 시작 --*/
.slider{
  width: 1260px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  right: 10px;
  overflow: hidden; 
  margin-top: 20px;
  background-color: #112233;
}
.slider input[type=radio]{
  display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}
ul.imgs li{
  position: absolute;
  transition-delay: 1s; 
  padding: 0;
  margin: 0;
}


ul.imgs li img{
  width: 100%;
  cursor: pointer;
  height: 300px;
}

.bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13px;
  z-index: 2;
}
.bullets label{
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: #fff;
}


.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
/*-- content slider 끝 --*/




/*--content shop 시작*/
.content_shop{
   position: relative;
   width: 1300px;
   height: 530px;
   margin: 0 auto;

   
}

.box {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  margin: 10px;
  margin-top: 40px;
  transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translateY(-10px);
}


.box * {
  padding: 10px;
 
 
}

.box a{
  padding: 0;
}


.box .img {
  display: block;
  width: 100%;
  padding: 0;
  
  
}

.box .heading {
  margin-top: 20px;
  font-size: 17px;
}



.box .data {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #666;
}

.box .data span {
  padding: 0;
}



.box .data .user-id {
  font-size: 16px;
  color: #174c88;
  font-weight: 600;
}

.box .texts {
  font-size: 12px;
  line-height: 18px;
  color: red;
}
/*--content shop 끝--*/


/*--content button 시작--*/
#content_button{
    position: relative;
    width: 1300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
  }


.wrap{
   margin-left: 10px;
}






.wrap  a.button{
   display: inline-block;
	 padding: 8px 10px;
	 background-color:#fff;
	 color: white;
	 text-decoration: none;
	 font-size: 16px;
	 border: 1px solid #888383;
   color: #112233;
   border-radius: 5px;
   
}


.wrap a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}


  /*--content button 끝--*/
  