a{
    cursor: pointer;
    color: #354F68;
}
#content {
    width:1300px;
    margin: 0 auto;
    position: relative;
    height: auto;
}

#tip{
    width:1300px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bg h2{
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
}
/*#tip .bg{
    width: 100%;
    height: 450px;
    border-radius: 3px;
    position: relative;
    margin-top: 50px;
    background: url("./img/bg.jpg") repeat-x;
    background-size: auto 100%;
}*/

/*#tip ul li.a{
    background-color: #354F68;
}
#tip ul li.a a{
    color: #ffff;
}*/

/*#tip .hd{
    position: relative;
    width: 88%;
    height: 70px;
    background-color: #3a3a3a;
    opacity: 0.95;
    border-radius: 3px;
    top: -150px;
    z-index: 10;
    margin: 0 auto;
}*/

#tip .tip_main{
    width: 100%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    background-color: #f3f3f3;
    opacity: 0.95;
    border-radius: 2px;
    padding-top: 70px;
    padding-bottom: 70px;
}

h3{
    position: relative;
    text-align: center;
    font-size: 22px;
    height: 35px;
    line-height: 30px;
    font-weight: bold;
}

.my_news{
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
}

#id{
    position: relative;
    font-size: 16px;
    height: 17px;
    line-height: 17px;
    margin: 10px;
    top:10px;
}

.date{
    position: absolute;
    height: 20px;
    top: 10px;
    left: 80px;
    font-size: 15px;
    border: none;
}

#modify{
    position: absolute;
    top: 10px;
    right:0;
    font-size: 17px;
    margin-right: 10px;
}

#tip_news{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 1000px;
    border-top: 1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
}

#comments{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-top: 3px solid #a8a8a8;
    border-bottom: 3px solid #a8a8a8;
}
#comments li{
    position: relative;
    margin-top: 10px;
    margin: 0 auto;
    width: 99%;
    height: 40px;
    border-bottom: 1px solid #a8a8a8;
    padding: 10px;
    overflow: hidden;
}
#comments li:last-child{
    border-bottom: none;
}

#comments li p{
    float: left;
}

#comments_id{
    width: 80px;
    border-right: 1px solid #a8a8a8;
}
#comments_c{
    padding-left: 10px;
}

#comment{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border-radius: 3px;
    border: 0.5px solid #a8a8a8;
}

.submit{
    position: relative;
    width:80px;
    height: 30px;
    left: 1020px;
    top: 5px;
    font-size: 15px;
}