@charset "utf-8";

@font-face {
    font-family: "pretendard";
    src: url("../font/Pretendard/public/variable/PretendardVariable.ttf") format("truetype");
}
.blind {
    display: none;
}
button {
    cursor: pointer;
}
#content {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

/* rvCansel_head 시작 */
.rvCansel_head {
    width: 100%;
    position: relative;
    margin-top: 30px;
}
.rvCansel_head h1 {
    position: relative;
    font-family: "pretendard";
    color: #000;
    font-size: 30px;
    font-weight: 400;
    width: 330px;
    height: 35px;
}

/* rvCansel_body 시작 */
.rvCansel_body {
    width: 100%;
    position: relative;
    margin: 80px 0 300px;
}
.rvCansel_body h2 {
    position: relative;
    font-family: "pretendard";
    color: #FF3333;
    font-size: 15px;
    font-weight: 400;
}
.rvCansel_body p {
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 1000;
}
.rvCansel_body p button.PTReservation_cancel {
    width: 70px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #112233;
    color: #fff;
}
.rvCansel_body ul {
    position: relative;
    width: 100%;
    display: flex;
}
.rvCansel_body ul.list_head {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #F5F5F5;
    padding: 10px 0;
    margin-top: 45px;
}
.rvCansel_body ul.list_head li:not(:first-child):not(:last-child) {
    border-right: 1px solid #ccc;
}
.rvCansel_body ul.reservationList {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.rvCansel_body ul li {
    font-family: "pretendard";
    color: #000;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.rvCansel_body ul.list_head li, ul.reservationList li { 
    line-height: 30px;
}
.rvCansel_body ul li.PTCheckbox {
    width: 45px;
}
.rvCansel_body ul li.rvNumber {
    width: 135px;
}
.rvCansel_body ul li.rvCenter {
    width: 290px;
}
.rvCansel_body ul li.rvMembership {
    width: 250px;
}
.rvCansel_body ul li.rvRemain {
    width: 200px;
}
.rvCansel_body ul li.rvTime {
    width: 380px;
}

/* 페이지 버튼 */
.rvCansel_body .searchedListBtn {
    position: relative;
    display: flex;
    margin-top: 40px;
}
.rvCansel_body .searchedListBtn li {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    border: 1px solid rgba(204,204,204,0);
}
.rvCansel_body .searchedListBtn a {
    font-family: "pretendard";
    color: #000;
    font-size: 15px;
}
.rvCansel_body .searchedListBtn li.present_btn {
    border: 1px solid rgba(204,204,204,1);
}
.rvCansel_body .searchedListBtn li.present_btn a {
    color: #112233;
    font-weight: 600;
}
.rvCansel_body .searchedListBtn li:hover {
    border: 1px solid rgba(204,204,204,1);
}
.rvCansel_body .searchedListBtn li:not(:last-child) {
    margin-right: 5px;
}